header {
  padding: 1rem 0;
}
#main-nav {
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.nav__link {
  display: block;
  margin: 0 0 0 1rem;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.logo {
  font-family: "Black Ops One", sans-serif;
  font-size: clamp(2.5em, 3vw + 1rem, 2.75em);
  transition: var(--transition);
}

.logo:hover {
  opacity: var(--opacity);
}
