/*--- blogs ---*/

/* landing */
.blog__container {
    margin-top: 3rem;
}

.blog__item {
    margin-bottom: 2rem;
}

.blog__item h2 {
    margin-bottom: 0.75rem;
}

.blog__list {
    margin: 3rem 0;
}

.blog__title {
    margin-bottom: 2rem;
}

.tag__container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

.tag {
    display: inline-block;
    /* margin: 0 0.5rem 0.5rem 0; */
    padding-right: 0.5rem;
    border-radius: 4px;
    border-bottom: none !important;
    /* background-color: var(--accent); */
    /* color: var(--background); */
    color: var(--accent);
}

.tag:visited,
.tag:hover,
.tag:focus,
.tag:active {
    color: var(--accent) !important;
    opacity: var(--opacity);
}

.tag::before {
    content: "#";
}

.return__blogs {
    margin-top: 2rem;
}
figure {
    margin-bottom: 1.5rem;
}

figure img {
    all: unset;
    width: 100%;
    display: block;
    margin-bottom: 0;
}

figcaption {
    padding: 6px 12px;
    background: #333232;
    letter-spacing: 1px;
}

pre {
    background: var(--code-bg);
    border: 1px solid var(--code);
    padding: 8px 0 8px 8px;
    border-left: 3px solid var(--code);
    color: var(--text);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
}

pre span {
    display: inline;
    padding: 0 4px;
    color: #a7aaad;
}

code {
    page-break-inside: avoid;
    padding: 0 4px;
    color: var(--code);

}

.marker {
    background-color: var(--background);
    color: var(--accent);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
