.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.projects article {
    margin-bottom: 2rem;
}
.card__footer {
    /* display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: center; */
}
a.card__link--primary {
    all: unset;
    display: block;
    width: fit-content;
    margin: 1rem 0;
    cursor: pointer;
    background: var(--accent);
    color: var(--background);
    padding: 6px 12px;
    border-radius: 4px;
}
a.card__link--primary:hover {
    color: var(--background) !important;
    opacity: var(--opacity);
}

a.card__link--secondary {
    display: inline-block;
    margin-right: 1rem;
}
